[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/oxen-encoding"]
	path = external/oxen-encoding
	url = https://github.com/oxen-io/oxen-encoding.git
[submodule "gui"]
	path = gui
	url = https://github.com/oxen-io/lokinet-gui.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/liboqs"]
	path = external/liboqs
	url = https://github.com/open-quantum-safe/liboqs
